body {
  background-color: #3a3a3a; }

.nav {
  height: 75px;
  width: 100%;
  background-color: black;
  color: #b4b4b4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em; }
  .nav img {
    height: 75px; }

.indexNav {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6); }

.carousel img {
  height: 100vh; }

a, a:visited {
  text-decoration: none;
  color: #b4b4b4; }

a:link:hover {
  text-decoration: none;
  color: white; }

main {
  background-color: #3c3c3c; }

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenedor h1 {
    margin-top: 10px; }

.shopGrid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px; }
  .shopGrid img {
    width: 300px;
    height: 220px; }
