body {
  background-color: #3a3a3a; }

.nav {
  height: 75px;
  width: 100%;
  background-color: black;
  color: #b4b4b4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em; }
  .nav img {
    height: 75px; }

.indexNav {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6); }

.carousel img {
  height: 100vh; }

a, a:visited {
  text-decoration: none;
  color: #b4b4b4; }

a:link:hover {
  text-decoration: none;
  color: white; }

main {
  background-color: #3c3c3c; }

h1 {
  text-align: center;
  color: #b4b4b4; }

.imgCont img {
  width: 400px;
  height: 280px; }

.imgCont p {
  color: white; }

.nombre {
  font-size: 1.5em; }

.redondeado {
  border-radius: 5%; }

.redondeado:hover {
  border-radius: 0%; }

main {
  color: white; }

p {
  color: white; }