.imgCont {

    img {
        width: 400px;
        height: 280px;
    }

    p {
        color: white;
    }
}

.nombre {
    font-size: 1.5em;
}

.redondeado {
    border-radius: 5%;
}

.redondeado:hover {
    border-radius: 0%;
}