body {
    background-color: rgb(58, 58, 58);
}

.nav {
    height: 75px;
    width: 100%;
    background-color: black;
    color: rgb(180, 180, 180);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;

    img {
        height: 75px;
    }
}

.indexNav {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel {
    img {
        height: 100vh;
    }
}

a, a:visited {
    text-decoration: none;
    color: rgb(180, 180, 180);
}

a:link:hover {
    text-decoration: none;
    color: white;
}

main {
    background-color: rgb(60, 60, 60);
}